.translate {
    background-color :green;
    border-radius:3px;
    background-color: #34495e;
    border-color: #34495e;
    width: 100px;
    height: 34px;
    border: 1px solid;
    color: #fff;
   
}
