#Langauger-box, #Langauger-mcq-box {
  background-color: #e6ffb3 !important;  /* light blue */
  color:  black !important;
  border-radius: 5px !important;
  box-shadow: 2px 2px 3px #888 !important;
  position: absolute !important;
  font-size: 14px !important;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.3em !important;
  text-align: left !important;
  min-width: 1em !important;
  max-width: 50em !important;
  padding: 10px !important;
  margin: 0px 10px 10px -5px !important;
  white-space:  pre-line !important;
  z-index: 2147483647 !important;
  cursor: pointer !important;
}

/* higher contrast than browser default selection styling */
body ::selection {
  color: Black !important;
  background: #cdeeff !important; /* light green */
}

/* when holding alt-key over link, charge cursor */
body.Langauger-alt-held a {
  cursor:help !important;
}

/**
 * Support for div.expanded.
 */

#Langauger-box div.expanded.collapsed {
  display: none !important;
}

#Langauger-box div.expanded {
  margin-top: 12px !important;
}

#Langauger-box div.expanded ul.dict {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin-bottom: 10px !important;
  font-size: 13px !important;
}

#Langauger-box div.expanded a {
  background-color: black !important;
  color: #fffddd !important;
  border-radius: 2px !important;
  padding: 2px 10px !important;
  margin: 2px 4px 2px 0px !important;
  text-decoration: none !important;
}

#Langauger-box div.expanded a:hover {
  background-color: blue !important;
}

#Langauger-box div.ellipsis {
  clear: both !important;
  height: 1px !important;
  border-bottom: 1px dotted gray !important;
  color: #fffddd !important;
}

.translate_14385{
    display: inline;
    position: relative;
}

.translate_14385:hover:after{
    background: #333;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(data-original);
    left: 20%;
    padding: 5px 5px;
    position: absolute;
    text-align: center;
    z-index: 98;
    min-width: 100px;
}